In [1]:
import numpy as np
import pandas as pd

In [ ]:
movies_df = pd.read_csv('datasets/movies_tmdb.csv')
movies_df

In [ ]:
movies_df.columns

In [ ]:
movies = movies_df[['id', 'title', 'genres', 'keywords']]
movies

In [ ]:
movies.isnull().sum()

In [ ]:
movies.duplicated().sum()

In [ ]:
movies_copy = movies.copy()
movies_copy.dropna(inplace=True)
movies=movies_copy

In [ ]:
movies_copy = movies.copy()
movies_copy.drop_duplicates(inplace=True)
movies=movies_copy

In [ ]:
movies['keys'] = movies['genres'] + ',' + movies['keywords']

In [ ]:
movies.drop(columns=['genres', 'keywords'], inplace=True)

In [ ]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
def convert(s):
    words=s.split(',')
    words=sorted(words)
    return ' '.join([stemmer.stem(word) for word in words])

In [ ]:
movies['keys']=movies['keys'].apply(convert)

In [ ]:
movies=movies[['id','title','keys']]
movies

In [ ]:
import re
def normalize_text(text):
    return re.sub(r'[^a-z0-9\s]', '', text.lower())

In [ ]:
movies['normalised_text'] = movies['title'].apply(normalize_text)

In [ ]:
for i in range(movies.shape[0]):
    imdb_id=movies_df[movies['id'][i]==movies_df['id']]['imdb_id']
    movies['imdb_id'].iloc[i]=imdb_id

In [ ]:
movies['imdb_id'].duplicated().sum()
movies.reset_index(inplace=True)
movies.drop_duplicates(subset=['imdb_id'], inplace=True)

In [2]:
movies=pd.read_csv('./cleaned_csv_3.csv')

In [3]:
movies=movies[['id','title','keys','normalised_text','imdb_id']]
movies

,id,title,keys,normalised_text,imdb_id
0,27205,Inception,action science fict adventur rescu mission ...,inception,tt1375666
1,157336,Interstellar,adventur drama science fict rescu futur sp...,interstellar,tt0816692
2,155,The Dark Knight,drama action crime thriller joker sadism ...,the dark knight,tt0468569
3,19995,Avatar,action adventur fantasi science fict futur ...,avatar,tt0499549
4,24428,The Avengers,science fict action adventur new york c sup...,the avengers,tt0848228
...,...,...,...,...,...
29022,682040,The First World War,documentari war uniform berlin germani lon...,the first world war,tt0976117
29023,682113,Rothenthurm,documentari switzerland villag mountain vill...,rothenthurm,tt1293623
29024,682108,Hexenkinder,documentari witch child abus nun orphanag ...,hexenkinder,tt19843228
29025,681321,Without Getting Killed or Caught,documentari music country mus musician sing...,without getting killed or caught,tt11574990
29026,683082,Knots: A Forced Marriage Story,documentari pedophilia rape christian prote...,knots a forced marriage story,tt10016640

In [8]:
new_movies=movies[movies['keys'].str.len()>150]
new_movies.reset_index(inplace=True)
new_movies=new_movies[['id','title','keys','normalised_text','imdb_id']]
new_movies

,id,title,keys,normalised_text,imdb_id
0,27205,Inception,action science fict adventur rescu mission ...,inception,tt1375666
1,157336,Interstellar,adventur drama science fict rescu futur sp...,interstellar,tt0816692
2,155,The Dark Knight,drama action crime thriller joker sadism ...,the dark knight,tt0468569
3,19995,Avatar,action adventur fantasi science fict futur ...,avatar,tt0499549
4,24428,The Avengers,science fict action adventur new york c sup...,the avengers,tt0848228
...,...,...,...,...,...
8616,692273,The Port Costa Little Boys,comedi action adventur crime gun parrot h...,the port costa little boys,tt8478736
8617,680471,Kuru Kuru and Friends: The Secrets of the Rain...,anim adventur fantasi action famili ship ...,kuru kuru and friends the secrets of the rainb...,tt6448112
8618,682040,The First World War,documentari war uniform berlin germani lon...,the first world war,tt0976117
8619,682113,Rothenthurm,documentari switzerland villag mountain vill...,rothenthurm,tt1293623
8620,682108,Hexenkinder,documentari witch child abus nun orphanag ...,hexenkinder,tt19843228

In [9]:
new_movies.to_csv("./cleaned_csv.csv")